@import './styling/_animations.scss';

.intro {
    height: 100%;
    margin-top: 40rem;
    background-color: #000;
    z-index: 10;
    .copy {
        display: flex;
        flex-direction: column-reverse;
        h1 {
            margin-top: 0;
        }
    }
}
.introduction-container,
.myprojects-container,
.techniques-container,
.github-container,
.contact-container {
    background-color: #000;
    .introduction-inner,
    .myprojects-inner,
    .techniques-inner,
    .github-inner,
    .contact-inner {
        position: relative;
        &:after {
            z-index: 0;
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            left: 0;
            bottom: 0;
            border: 2px solid rgba(255, 255, 255, 0.616);
            border-radius: 5px;
            box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.383),
                0px 0px 15px rgba(255, 255, 255, 0.329);
            animation-name: flicker;
            animation: flicker 2s linear forwards;
            animation-delay: 0.5s;
            filter: brightness(0.1);
        }
    }
}
.techniques-container {
    .techniques-headings {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 2.2rem;
        }
    }
    .inner {
        flex-direction: row;
        z-index: 50;
        .col {
            width: 50%;
            .logos-platforms {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 70px;
                    width: 200px;
                    margin-top: 1.5rem;
                }
            }
            .logos {
                padding: 1rem 2rem;
                .logo {
                    margin: 1rem;
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
}
.github-container {
    .github-inner {
        background-image: url('/img/GitHub-Mark-Light-120px-plus.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        width: 250px;
    }
}
.projects {
    display: flex;
    padding-left: 3rem;
    z-index: 50;
    .inner {
        margin-top: 2rem;
        margin-right: 3rem;
        height: 200px;
        width: 200px;
        padding: 1rem;
        border: 2px solid rgba(255, 255, 255, 0.616);
        border-radius: 5px;
        box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.383),
            0px 0px 15px rgba(255, 255, 255, 0.329);
        img {
            height: 200px;
            width: 200px;
        }
    }
}
