.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 0;
        .copy {
            padding: 0 1rem;
            h1 {
                font-size: 1.9rem;
            }
        }
    }
    .inner {
        padding: 0;
        .text {
            padding: 0;
            margin: 0;
            max-width: 350px;
        }
    }
    .introduction-container,
    .techniques-container,
    .github-container,
    .myprojects-container,
    .contact-container {
        position: relative;
        margin: 9rem 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
    }
    .introduction-container {
        .introduction-inner {
            padding: 1.2rem 1.4rem 2rem 1.4rem;
        }
    }
    .techniques-container {
        min-width: 260px;
        max-width: 100%;
        padding-right: 2.6rem;
        .techniques-headings {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 1.8rem;
            }
        }
        .techniques-inner {
            position: relative;
            padding: 1.2rem 1.4rem 2rem 1.4rem;
            .techniques-heading {
                position: absolute;
                transform: rotate(90deg);
                bottom: 100px;
                right: -145px;
            }
            .inner {
                flex-direction: column !important;
                z-index: 50;
                .col {
                    width: 100%;
                    .logos-platforms {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            margin-top: 0.5rem;
                        }
                    }
                    .logos {
                        padding: 0;
                    }
                }
            }
        }
    }
    .github-container {
        .github-inner {
            width: 280px;
        }
    }
    .myprojects-container {
        .myprojects-inner {
            max-width: 487px;
            height: unset;
            padding: 1.2rem 1.4rem 2rem 1.4rem;
            .projects {
                flex-direction: column;
                padding: 0;
                margin-top: 0rem;
                width: 100%;
                .inner {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .contact-container {
        .contact-inner {
            max-width: 487px;
            height: unset;
            padding: 1.2rem 1.4rem 2rem 1.4rem;
            form {
                padding: 0;
                width: 100%;
                .form-control {
                    padding-left: 0;
                }
                input,
                textarea {
                    width: 94%;
                }
                input[type='submit'] {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
        }
    }
}
